@font-face {
  font-family: 'Savoye';
  src: url(/public/fonts/Savoye-font.ttf) format('ttf');
}

.navbar{
  margin-bottom: 0px !important;
  font-family: 'Savoye', cursive;
  font-size: 18px;

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar-collapse {
    text-align: center;
  }
}

.home-link {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 2px;
}
