@font-face {
  font-family: 'Savoye';
  src: url(/public/fonts/Savoye-font.ttf) format('ttf');
}

.navbar{
  margin-bottom: 0px !important;
  font-family: 'Savoye';
  font-size: 18px;
  border: none!important;
  border-radius: 0!important;
  background-color: rgba(0,0,0,0.2)!important;
  color: white!important;

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar-collapse {
    text-align: center;
  }
}

.home-link {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 2px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff !important
}
