// @font-face {
//   font-family: 'streetlight';
//   src: url("/public/fonts/streetlight.ttf") format('ttf');
// }
// @font-face {
//   font-family: 'modern-no-20';
//   src: url("/public/fonts/modern-no-20.ttf") format('ttf');
// }

@font-face {
  font-family: 'Futurist';
  src: url(/public/fonts/Futurist.ttf) format('ttf');
}

@font-face {
    font-family: 'Caslon';
    src: url(/public/fonts/CaslonCP.otf) format('otf'),
         url(/public/fonts/CaslonCPwash.otf) format('otf');
    font-weight: normal;
    font-style: normal;

}

body p{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-size: 40px;
}

.hero {
  background: url("/images/header-background-pic.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0px 80px 60px 0px rgba(0,0,0,0.3);
  height: 100%;
}

.header-text-container {
  padding-top: 20px;
}

.header-text-box {
  text-align: center;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  // font-weight: 900;
  font-size: 5em;
  margin-top: 0;
  color: white;
  padding-top: 280px;
  padding-bottom: 300px;
  letter-spacing: 8px;
}

.about-us {
  height: 500px;
}

.wedding-details {
  height: 500px;
}

@media only screen and (max-width:768px){
  .hero{
    background: url("/images/header-background-pic-750px.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
  }
}

@media only screen and (max-width:415px){
  .hero{
    background: url("/images/shankennyphoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .container{
    height: 800px!important;
  }
  .header-title {
    font-size: 2em!important;
    padding-top: 25px!important;
    padding-bottom: 1px!important;
    margin-bottom: 0px!important;
  }
  .header-text{
    font-family: 'Futurist';
    font-weight: 900;
    font-size: 1.5em!important;
    margin-top: 0;
    color: white;
    padding-bottom: 250px;
    letter-spacing: 8px;
  }

  .Countdown{
    color: white;
    font-size: 20px;
    padding-top: 500px;
  }

  .rectangle {
    margin-left: 7%;
    text-align: center;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: white;
  }

}
