
@font-face {
  font-family: 'Futurist';
  src: url('/fonts/Futurist.woff') format('woff'),
       url('/fonts/Futurist.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Caslon';
   src: url('/fonts/casloncp-webfont.woff2') format('woff2'),
        url('/fonts/casloncp-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family:'Streetlight';
   src: url('/fonts/streetlight.woff2') format('woff2'),
        url('/fonts/streetlight.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family:'Modern-Regular';
   src: url('/fonts/Modern-Regular.woff2') format('woff2'),
        url('/fonts/Modern-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.hero {
  background: url("/images/header-background-pic.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0px 100px 60px 0px rgba(0,0,0,0.4),
              inset 0px -100px 60px 0px rgba(0,0,0,0.4);

  height: 100%;
}

.header-text-container {
  padding-top: 20px;
}

.header-text-box {
  text-align: center;
}

.header-title {
  font-family: 'Caslon';
  font-weight: 400;
  font-size: 5em;
  margin-top: 0;
  color: white;
  padding-top: 280px;
  padding-bottom: 300px;
  letter-spacing: 8px;
}

.save-date-text{
  font-family: 'Futurist';
  color: white;
  font-size: 13px;
  margin-top: 0px;
  // letter-spacing: 1px;
}

.about-us {
  height: 500px;
}

.wedding-details {
  height: 500px;
}

@media only screen and (max-width:768px){
  .hero{
    background: url("/images/header-background-pic-750px.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
  }
}

@media only screen and (max-width:415px){
  .hero{
    background: url("/images/shankennyphoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .container{
    height: 750px!important;
  }
  .header-title {
    font-size: 3.2em!important;
    font-weight: 200!important;
    padding-top: 15px!important;
    padding-bottom: 1px!important;
    margin-bottom: 0px!important;
    letter-spacing: 2px!important;
  }
  .header-text{
    font-family: 'Caslon';
    font-weight: 900;
    font-size: 1.3em!important;
    margin-top: 0;
    color: white;
    padding-bottom: 250px;
    letter-spacing: 8px;
  }

  .Countdown{
    color: white;
    padding-top: 8px;
    font-size: 10px;
  }

  .save-date-text{
    font-family: 'Modern-Regular';
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 4px;
    padding-top: 2px;
  }

  .the-text{
    font-family: 'Streetlight';
    font-size: 18px;
    font-weight: lighter;
  }

  .date-text{
    font-family: 'Caslon';
    font-weight: lighter;
    font-size: 13px;
  }

  .location-text{
    font-family: 'Caslon';
    padding-top: 530px;
    padding-left: 4px;
    color: white;
    margin-bottom: 2px;
    font-size: 22px;
    letter-spacing: 9px;
  }

  .details-text{
    font-family: 'Futurist';
    margin-top: 0px;
    color: white;
    font-size: 11px;
    letter-spacing: 2px;
  }

  .countdown{
    letter-spacing: 0px;
    padding-top: 8px;
  }

}
