@font-face {
  font-family: 'Savoye';
  src: url("/public/fonts/Savoye-font.ttf") format('ttf');
}

.hero {
  background: url("/images/header-background-pic.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}

@media only screen and (max-width:768px){
  .hero{
    background: url("/images/header-background-pic-750px.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
  }
}

@media only screen and (max-width:415px){
  .hero{
    background: url("/images/shan-kenny-engagement-600px.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    min-width: 100% !important;
    max-height: 100% !important;
  }
  .header-title {
    // padding-top: 144px!important;
    // padding-bottom: 397px!important;
    display: none !important;
  }

  .container{
    padding-bottom: 823px !important;
  }

}

.header-text-container {
  padding-top: 20px;
}

.header-text-box {
  text-align: center;
}

.header-title {
  font-family: 'Open Sans', cursive;
  font-weight: 900;
  font-size: 5em;
  margin-top: 0;
  color: white;
  padding-top: 280px;
  padding-bottom: 240px;
  text-shadow: 0 4px 3px rgba(0,0,0,0.4), 0 8px 13px rgba(0,0,0,0.1), 0 18px 23px rgba(0,0,0,0.1);
}

.about-us {
  height: 500px;
}

.wedding-details {
  height: 500px;
}
